<a href="https://colab.research.google.com/github/RaJaRaJiLLaH/Hands-On-Machine-Learning-with-Scikit-Learn-Keras-and-TensorFlow-3rd-Edition/blob/main/0_Espolarazione_analisi_dati.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importo **librerie**

In [16]:
import pandas as pd
import numpy as np

In [34]:
pd.set_option('display.float_format', lambda x: '%.2f' % x)

Creazione Dataframe

In [17]:
df_anagrafica= pd.read_excel('/content/0_dataset_input/anagrafica_cellule_wecare.xlsx')
df_anagrafica

,Codice_Servizio,Personal_Assistant,Fornitore,Data_attivazione,flg_storico_completo,Caratteristiche,Capacita_portafoglio,Perc_capac_portafoglio,Elenco_comuni
0,WC94,RESOLDUNOCD,Comdata,2020-10-29,1,clienti>6mesi residenti in regione Veneto,280000,1.00,NaN
1,WC31,RESOLDUNOAS,Assist,2020-11-05,1,Clienti>6mesi residenti in provincia di Napoli...,270000,1.00,"ANACAPRI,BARANO D\'ISCHIA,CAMPOSANO,CAPRI,CARB..."
2,WC52,RESOLDDUETP,Teleperformance,2020-11-23,1,clienti>6mesi residenti in Sicilia,290000,1.00,NaN
3,WC92,RESOLDDUECD,Comdata,2020-12-21,1,clienti>6mesi residenti in Piemonte e Val d'Ao...,139614,0.50,"ANDRATE,CAREMA,NOMAGLIO,QUASSOLO,QUINCINETTO,S..."
4,WC54,RESOLDTRETP,Teleperformance,2021-01-11,1,clienti>6mesi residenti in Calabria e Abruzzo,270000,1.00,
5,WC90,RESOLDTRECD,Comdata,2021-01-13,1,clienti>6mesi residenti in Piemonte \nI comni ...,89988,0.33,"ALA DI STURA,ANDEZENO,ARIGNANO,BALANGERO,BALDI..."
6,WC56,RESOLD4TP,Teleperformance,2021-03-09,1,"clienti>6mesi residenti in Marche, Umbria, Emi...",237000,1.00,NaN
7,WC34,RESOLD3AS,Assist,2021-04-01,1,Clienti>6mesi residenti in Lazio 1 (vedi lista...,285000,1.00,"00166,00167,00168,00155,00156,00157,00158,0015..."
8,WC42,RESOLD7AS,Assist,2021-11-10,0,Clienti>6mesi residenti in Lazio 3 (vedi lista...,277000,1.00,"00054,00119,00124,00125,00126,00121,00122,0014..."
9,WC84,RESOLD6CD,Comdata,2022-03-10,0,clienti con tenure>6 mesi in Lombardia\nI comu...,246000,1.00,"ANTEGNATE,BAGNATICA,BARBATA,BARIANO,BOLGARE,BO..."

In [18]:
df_anagrafica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Codice_Servizio         10 non-null     object
 1   Personal_Assistant      10 non-null     object
 2   Fornitore               10 non-null     object
 3   Data_attivazione        10 non-null     datetime64[ns]
 4   flg_storico_completo    10 non-null     int64
 5   Caratteristiche         10 non-null     object
 6   Capacita_portafoglio    10 non-null     int64
 7   Perc_capac_portafoglio  10 non-null     float64
 8   Elenco_comuni           7 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 848.0+ bytes

In [37]:
df_billing=pd.read_csv('/content/0_dataset_input/storico_billing.csv', parse_dates=['DAT3P_DATA_GG'] )
df_billing.head(5)

  DAT3P_DATA_GG     IMP_SCAD  NR_FAT_SCAD    IMP_EMES  NR_FAT_EMES
0    2020-10-29 993777098.20  13342070.00        0.00         0.00
1    2020-10-30 812785228.90  11238465.00 48971026.20    837015.00
2    2020-10-31 861332336.15  12074230.00        0.00         0.00
3    2020-11-01 861332336.15  12074230.00        0.00         0.00
4    2020-11-02 861050323.15  12073095.00        0.00         0.00

In [38]:
df_billing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733 entries, 0 to 732
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DAT3P_DATA_GG  733 non-null    datetime64[ns]
 1   IMP_SCAD       733 non-null    float64
 2   NR_FAT_SCAD    733 non-null    float64
 3   IMP_EMES       733 non-null    float64
 4   NR_FAT_EMES    733 non-null    float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 28.8 KB

In [39]:
df_billing=df_billing.rename(columns={"DAT3P_DATA_GG": "DATA"})
df_billing.head(5)

        DATA     IMP_SCAD  NR_FAT_SCAD    IMP_EMES  NR_FAT_EMES
0 2020-10-29 993777098.20  13342070.00        0.00         0.00
1 2020-10-30 812785228.90  11238465.00 48971026.20    837015.00
2 2020-10-31 861332336.15  12074230.00        0.00         0.00
3 2020-11-01 861332336.15  12074230.00        0.00         0.00
4 2020-11-02 861050323.15  12073095.00        0.00         0.00

In [40]:
df_chiamate=pd.read_csv('/content/0_dataset_input/storico_chiamate.csv', parse_dates=['DAT3P_DATA_GG'] )
df_chiamate.head(5)

,DAT3P_DATA_GG,CHIAM_CON_N_CHIAM_CC_GG,WC94,WC31,WC52,WC92,WC54,WC90,WC56,WC34,WC42,WC84
0,2020-10-29,24866.00,521.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2020-10-30,23079.00,487.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,2020-10-31,10079.00,185.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,2020-11-01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,2020-11-02,27088.00,644.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [41]:
df_chiamate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 687 entries, 0 to 686
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DAT3P_DATA_GG            687 non-null    datetime64[ns]
 1   CHIAM_CON_N_CHIAM_CC_GG  687 non-null    float64
 2   WC94                     687 non-null    float64
 3   WC31                     687 non-null    float64
 4   WC52                     687 non-null    float64
 5   WC92                     687 non-null    float64
 6   WC54                     687 non-null    float64
 7   WC90                     687 non-null    float64
 8   WC56                     687 non-null    float64
 9   WC34                     687 non-null    float64
 10  WC42                     687 non-null    float64
 11  WC84                     687 non-null    float64
dtypes: datetime64[ns](1), float64(11)
memory usage: 64.5 KB

In [42]:
df_chiamate=df_chiamate.rename(columns={"DAT3P_DATA_GG": "DATA"})
df_chiamate.head(5)

,DATA,CHIAM_CON_N_CHIAM_CC_GG,WC94,WC31,WC52,WC92,WC54,WC90,WC56,WC34,WC42,WC84
0,2020-10-29,24866.00,521.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,2020-10-30,23079.00,487.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
2,2020-10-31,10079.00,185.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,2020-11-01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,2020-11-02,27088.00,644.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [44]:
df_reclami=pd.read_csv('/content/0_dataset_input/storico_reclami.csv', parse_dates=['DATA_RECLAMO'] )
df_reclami.head(5)

,DATA_RECLAMO,CAUSE_RECLAMO,PERSONAL_ASSISTANT,NUMERO_RECLAMI
0,2020-11-02,ALTRO,RESOLDUNOCD,4.00
1,2020-11-02,CONDIZIONI DI RATEIZZO,RESOLDUNOCD,1.00
2,2020-11-02,INFO SU PREZZI/TAR./COND.ECON.,RESOLDUNOCD,1.00
3,2020-11-02,PRESCRIZIONE,RESOLDUNOCD,1.00
4,2020-11-02,TEMPI REGISTRAZIONE CESSAZIONE,RESOLDUNOCD,1.00

In [45]:
df_reclami.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38959 entries, 0 to 38958
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATA_RECLAMO        38959 non-null  datetime64[ns]
 1   CAUSE_RECLAMO       38959 non-null  object
 2   PERSONAL_ASSISTANT  38959 non-null  object
 3   NUMERO_RECLAMI      38959 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 1.2+ MB

In [46]:
df_reclami=df_reclami.rename(columns={"DATA_RECLAMO": "DATA"})
df_reclami.head(5)

,DATA,CAUSE_RECLAMO,PERSONAL_ASSISTANT,NUMERO_RECLAMI
0,2020-11-02,ALTRO,RESOLDUNOCD,4.00
1,2020-11-02,CONDIZIONI DI RATEIZZO,RESOLDUNOCD,1.00
2,2020-11-02,INFO SU PREZZI/TAR./COND.ECON.,RESOLDUNOCD,1.00
3,2020-11-02,PRESCRIZIONE,RESOLDUNOCD,1.00
4,2020-11-02,TEMPI REGISTRAZIONE CESSAZIONE,RESOLDUNOCD,1.00