<a href="https://colab.research.google.com/github/RaJaRaJiLLaH/Hands-On-Machine-Learning-with-Scikit-Learn-Keras-and-TensorFlow-3rd-Edition/blob/main/0_Espolarazione_analisi_dati.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importo **librerie**

In [1]:
import pandas as pd
import numpy as np

Creazione Dataframe

In [4]:
df_anagrafica= pd.read_excel('/content/0_dataset_input/anagrafica_cellule_wecare.xlsx')
df_anagrafica.head(5)

,Codice_Servizio,Personal_Assistant,Fornitore,Data_attivazione,Caratteristiche,Capacità portafoglio,Elenco_comuni
0,WC94,RESOLDUNOCD,Comdata,2020-10-29,clienti>6mesi residenti in regione Veneto,280000,NaN
1,WC31,RESOLDUNOAS,Assist,2020-11-05,Clienti>6mesi residenti in provincia di Napoli...,270000,"ANACAPRI,BARANO D\'ISCHIA,CAMPOSANO,CAPRI,CARB..."
2,WC52,RESOLDDUETP,Teleperformance,2020-11-23,clienti>6mesi residenti in Sicilia,290000,NaN
3,WC92,RESOLDDUECD,Comdata,2020-12-21,clienti>6mesi residenti in Piemonte e Val d'Ao...,139.614\n(attualmente sono al 50% dl totale cl...,"ANDRATE,CAREMA,NOMAGLIO,QUASSOLO,QUINCINETTO,S..."
4,WC54,RESOLDTRETP,Teleperformance,2021-01-11,clienti>6mesi residenti in Calabria e Abruzzo,270000,

In [5]:
df_anagrafica.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Codice_Servizio       10 non-null     object
 1   Personal_Assistant    10 non-null     object
 2   Fornitore             10 non-null     object
 3   Data_attivazione      10 non-null     datetime64[ns]
 4   Caratteristiche       10 non-null     object
 5   Capacità portafoglio  11 non-null     object
 6   Elenco_comuni         7 non-null      object
dtypes: datetime64[ns](1), object(6)
memory usage: 744.0+ bytes